# 忽略所有二进制文件
*.exe
*.dll
*.so
*.dylib
*.json

# 忽略所有编译生成的文件
*.o
*.obj

# 忽略可执行文件
reader_writer

# 忽略output下的所有文件
/.vscode/*
/socket/output/*
/socket/output/*
/socket/build/*
/socket/client.DSYM/*
/socket/server.DSYM/*
/socket/users.txt
/socket/client
/socket/server

